header #logo {
    display: inline;
    position: relative;
    font: 200px Helvetica, Sans-Serif;
    letter-spacing: -5px;
    color: rgba(0, 0, 255, 0.5);
}

body {
    height: 500px;
}

header {
    background-image: url("../images/loginpic.jpg");
    text-align: center;
    width: 100%;
    height: auto;
    background-size: 100% auto;
    background-attachment: fixed;
    position: relative;
    overflow: hidden;
    border-radius: 0 0 100% 100% / 0%;
}

.overlay {
    height: 100%;
    padding: 50px;
    color: #fff;
    text-shadow: 1px 1px 1px #333;
    background-image: initial(135deg, #9f05ff69 10%, #fd5e086b 100%);
}
h1 {
    font-family: 'italic', serif;
    font-size: 80px;
    margin-bottom: 30px;
}

h3,
p {
    font-family: 'Open Sans', sans-serif;
    margin-bottom: 30px;
}


.logo img {
    width: 220px;
    height: auto;
    float: left;
}

* {box-sizing: border-box}

/* Full-width input fields */
  input[type=text],input[type=date],select {
  width: 100%;
  padding: 15px;
  margin: 5px 0 22px 0;
  display: inline-block;
  border: none;
  background: #f1f1f1;
}

input[type=text]:focus,input[type=date]:focus{
  background-color: #ddd;
  outline: none;
}
select {
  height: 40px;
}

hr {
  border: 1px solid #f1f1f1;
  margin-bottom: 25px;
}

/* Set a style for all buttons */
.bookbtn, .cancelbtn {
  border: none;
  outline: none;
  padding: 10px 20px;
  border-radius: 50px;
  color: #199;
  background: #fff;
  margin-bottom: 50px;
  box-shadow: 0 3px 20px 0 #0000003b;
}

.bookbtn, .cancelbtn:hover {
  cursor: pointer;
}

/* Add padding to containers */
.container {
  padding: 16px;
  width:50%;
  margin:auto;
  font-family: "Roboto", sans-serif;
  font-size: 20px;
  color: white;
}

/* Clear floats */
.clearfix::after {
  content: "";
  clear: both;
  display: table;
}
/* Change styles for cancel button and signup button on extra small screens */
@media screen and (max-width: 300px) {
  .bookbtn {
    width: 100%;
  }
}
